# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary files
*.tmp
*.bak
scratch/
